02_HCAI/01_reading
01_database_concepts/01_lecture_slides
01_database_concepts/02_books
01_database_concepts/03_exercise_sheets
lazygit
lazygit.tar.gz
03_ISEE/01_lecture_slides
04_data_mining/01_exercise_sheets
03_ISEE/02_assignments/renamed for submission
04_data_mining/03_lecture_slides
04_data_mining/05_reading
03_ISEE/03_misc_reading
02_HCAI/02_lecture_slides
03_ISEE/02_assignments/exercise4/out/production/exercise4
03_ISEE/02_assignments/exercise5/a053-twotierarchitecture-templates.zip
03_ISEE/02_assignments/exercise7/.idea
03_ISEE/02_assignments/exercise7/out/production/exercise7/.idea
03_ISEE/02_assignments/exercise7/out/production/exercise7
03_ISEE/02_assignments/exercise7/exercise7.iml
