02_HCAI/01_reading
01_database_concepts/01_lecture_slides
01_database_concepts/02_books
01_database_concepts/03_exercise_sheets
lazygit
lazygit.tar.gz
03_ISEE/01_lecture_slides
04_data_mining/01_exercise_sheets
03_ISEE/02_assignments/renamed for submission
04_data_mining/03_lecture_slides
04_data_mining/05_reading
03_ISEE/03_misc_reading
02_HCAI/02_lecture_slides
03_ISEE/02_assignments/exercise4/out/production/exercise4
03_ISEE/02_assignments/exercise5/a053-twotierarchitecture-templates.zip
03_ISEE/02_assignments/exercise7/.idea
03_ISEE/02_assignments/exercise7/out/production/exercise7/.idea
03_ISEE/02_assignments/exercise7/out/production/exercise7
03_ISEE/02_assignments/exercise7/exercise7.iml
03_ISEE/02_assignments/exercise8/coding-questions/.idea
03_ISEE/02_assignments/exercise8/coding-questions/out/production/coding-questions
03_ISEE/02_assignments/exercise8/coding-questions/coding-questions.iml
.obsidian
MISC/java/maxlab-java-experiment/out/production/maxlab-java-experiment
MISC/java/maxlab-java-experiment/.idea
Winter-SEM-II-2025-26/ICSE/01_assignment_questions/00
Winter-SEM-II-2025-26/Data Mining - II/exercises
Winter-SEM-II-2025-26/Data Mining - II/slides
Winter-SEM-II-2025-26/Machine Learnning/lecture_slides
Winter-SEM-II-2025-26/Machine Learnning/exercises
Winter-SEM-II-2025-26/Data Mining - II/reading
Winter-SEM-II-2025-26/Machine Learnning/reading
Winter-SEM-II-2025-26/Information-Retrieval/Exercises
Winter-SEM-II-2025-26/Information-Retrieval/Programming-Task-Resources
Winter-SEM-II-2025-26/Information-Retrieval/Slides
Winter-SEM-II-2025-26/Information-Retrieval/Reading
Winter-SEM-II-2025-26/DDM/Exercises
Winter-SEM-II-2025-26/DMEA/01_lecture_slides
Winter-SEM-II-2025-26/ICSE/01_assignment_questions
02_SEM/German A1.1/Information about German courses.pdf
03_ISEE/02_assignments/suvansh_assignments.zip
Winter-SEM-II-2025-26/Machine Learnning/exercises/Programming_assignment_1
Winter-SEM-II-2025-26/ICSE/04_reading
Winter-SEM-II-2025-26/DDM/slides
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/01/LR_datasets_2025
Winter-SEM-II-2025-26/ICSE/03_lecture_slides
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/02/NB_Dataset_2025
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/02/ML_Prog_Assgn_2.md
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/02/p_sheet2.pdf
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/07/binary_tree/windows_10_cmake_Release_Graphviz-14.0.5-win64.zip
MISC/latex-symbols-cheatsheet.pdf
Winter-SEM-II-2025-26/ICSE/.vscode
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/03/ML_Prog_Assgn_3.md
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/03/p_sheet3.pdf
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/03/decision_tree_data_2025.zip
Winter-SEM-II-2025-26/Machine Learnning/Programming_Assignments/03/decision_tree_data_2025
MISC/symbols.pdf
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/11/a112-templates/cities.data
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/11/a112-templates/connections.data
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/11/graph.py
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/07/icse_queue.py
Winter-SEM-II-2025-26/ICSE/02_assignment_answers/07/binary_tree/binary_tree.py
